* {
    margin: 0px;
    padding: 0px;
}

html {
    font-size: 16px;
  }
  @media screen and (min-width: 320px) {
    html {
      font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
  }
  @media screen and (min-width: 1000px) {
    html {
      font-size: 22px;
    }
  }

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

a {
    color: #C0D3E2;
    text-decoration: none;
    border-bottom: 1px dashed #C0D3E2;
    transition: color ease-in-out .2s;
}
a:hover, a:active {
    border-bottom: 1px solid #C0D3E2;
    color: black;
}
p a {white-space: nowrap;}

a[href=""] {
    cursor: default;
}
#links a[href=""]:after {
    content: "\00000a coming soon";
    position: absolute;
    display: block;
    width: 80px;
    height: 80px;
    font-size: 0.8em;
    font-weight: 800;
    transform: translate(6px, -80px) rotate(-20deg);
}
/* a[href^="http://"]:not([href*="quantum4ever.org"]):after,
a[href^="https://"]:not([href*="quantum4ever.org"]):after{
    content: " (external link)";
    font-size: .5em;
    letter-spacing: -.001em;
}
 */

#wrapper {
    display: grid;
    grid-template-columns: 30px 1fr 30px;
    grid-template-rows: 80px auto auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas:
        ". . ."
        ". left ."
        ". rauch ."
    ;
}
#rauch {width: 100%;}
#links, #left {text-align: left;}
#links li {
    width: 80px;
    margin-right: 20px;
}
#participants {
    margin: 140px auto 80px auto;
    width: calc(100% - 60px);
}
footer img {
    height: 100px;
    margin: 0px 20px;
}
#tu {width: 100px;}
#ati {width: calc(100px * 1.8138);}

@media all and (min-width: 900px) {
    #wrapper {
        display: grid;
        grid-template-columns: 1fr 35% 35% 1fr;
        grid-template-rows: 100px auto auto;
        grid-column-gap: 40px;
        grid-row-gap: 0px;
        grid-template-areas: 
            ". . . ."
            ". . . ."
            ". left rauch ."
        ;
    }
    #left, #links {text-align: right;}   
    #participants {width: 70%;}
    #links a[href=""]:after {
        transform: translate(6px, -90px) rotate(-20deg);
    }
}
@media all and (min-width: 1400px){
    #links li {
        width: 120px;
        margin-left: 20px;
    }
    footer img {height: 180px;}
    #tu {width: 180px;}
    #ati {width: calc(180px * 1.8138);}
    #rauch {width: 80%;}
    #links a[href=""]:after {
        width: 120px;
        height: 80px;
        transform: translate(8px, -100px) rotate(-20deg);
    }
}
#left {grid-area: left; align-self: center;}
#rauch {grid-area: rauch;}


h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 300;
    letter-spacing: -.05em;
    font-size: 4em;
    line-height: 1em;
    margin-top: 0px;
    margin-bottom: 10px;
}
h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 300;
    letter-spacing: -.04em;
    font-size: 2.5em;
    line-height: 1em;
    margin-top: 20px;
    margin-bottom: 10px;
}
#left p {
    font-weight: 300;
    letter-spacing: -0.02em;
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 60px;
}

#links {
    list-style: none;
    margin: 0px;
    padding: 0px;
    font-size: 1.1em;
}
#links li {
    display: inline-block;
    margin-bottom: 20px;
}
#links li a {
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    text-transform: lowercase;
    border: none;
    color: rgba(0,0,0,.4);
}


#links li a:before {opacity: .2; transition: opacity ease-in-out .2s;}
#links li:hover a:before {opacity: .5;}
.icon-videos a:before {content: url("./img/icon-black-videos.svg");}
.icon-slides a:before {content: url("./img/icon-black-slides.svg");}
.icon-pictures a:before {content: url("./img/icon-black-pictures.svg");}
.icon-videos:hover a:before {content: url("./img/icon-black-videos.svg");}
.icon-slides:hover a:before {content: url("./img/icon-black-slides.svg");}
.icon-pictures:hover a:before {content: url("./img/icon-black-pictures.svg");}


#participants table {
    margin: 40px 0px;
    width: 100%;
    border-collapse: collapse;
}
#participants table tr>th {
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding: 5px 10px;
    text-align: left;
    font-weight: 800;
}
#participants table tr {
    padding: 20px 8px;
}
#participants table tr:hover {background: rgba(0,0,0,.03);}
#participants table tr:first-child:hover {background: rgba(0,0,0,0);}
#participants table tr>td {
    padding: 5px 10px;
}
#participants table tr>td:first-child, #participants table tr>th:first-child {
    -text-align: right;
}


footer {
    margin-top: 80px;
    padding-top: 40px;
    background: rgba(0, 0, 0, .8);
    font-size: 0.9em;
    font-weight: 400;
    color: rgba(255,255,255,.2);
    padding-bottom: 80px;
}
footer div {
    text-align: center;
    margin-bottom: 40px;
}
footer a {
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,.5);
}
footer a:hover {
    color: rgba(255,255,255,.2);
    border-color: rgba(255,255,255,.5);
}

#logos a, #logo a:hover {
    border:none;
}

footer img {
    margin: 0px 20px;
}

footer p {
    text-align: center;
}